.notes {
    display: flex;
    justify-content: space-evenly;
    align-items:stretch;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px; 
}


.note img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

.center {
    display: flex;
}

.modal{
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.selects {
    display: flex;
}
select {
    margin: 0.5em;
}

progress {
    border: none;
    border-radius: 20px;
  }
  
  progress {
    color: lightblue;
    border-radius: 20px;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
    border-radius: 20px;
  }
  
  progress::-webkit-progress-value {
    background: #8FA5B2;
    border-radius: 20px;
  }
  
  progress::-webkit-progress-bar {
    background: white;
    border-radius: 20px;
  }