<div class="notes">
    <div class="note p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700" *ngFor="let note of notes">
<img src="{{note.icon}}" alt="note icon">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{note.title}}</h5>
        
        <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            download
            <img src="https://img.icons8.com/material-outlined/24/ffffff/download--v1.png"/>


        </a>
    </div>
</div>



