<div
  class="min-w-screen min-h-screen bg-white flex items-center justify-center px-5 py-5"
>
  <div
    class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden"
    style="max-width: 1000px"
  >
    <div class="md:flex w-full">
      <div
        class="hidden md:block w-1/2 bg-dark py-10 px-10 md:flex items-center"
      >
        <img
          src="https://preview.redd.it/dyuzz7anwgs71.jpg?width=960&crop=smart&auto=webp&s=db166f71fb34f76d20b6bcb57e8fca627f05308d"
          alt=""
        />
      </div>
      <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
        <div class="text-center mb-10">
          <h1 class="font-bold text-3xl text-gray-900">Sign In</h1>
          <p>Use Google Auth to Sign in</p>
        </div>
        <div>
          <div class="flex items-center justify-center">
            <button
              type="button"
              class="text-white bg-dark hover:bg-mid focus:ring-4 focus:outline-none focus:ring-light font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2"
            >
              <svg
                class="mr-2 -ml-1 w-4 h-4"
                aria-hidden="true"
                focusable="false"
                data-prefix="fab"
                data-icon="google"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 488 512"
              >
                <path
                  fill="currentColor"
                  d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                ></path>
              </svg>
              Sign in with Google
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
